html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map {
  height: 100%;
  width: 100%;
}

.traffic-light {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 5px solid #333;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.timer {
  position: relative;
  top: -10px;
  font-size: 50px;
  font-weight: 700;
  padding: 1px 1px;

  white-space: nowrap;
}


.crossroad {
  font-weight:bold; 
  font-size: 12px;
  margin-bottom:4px; 
  color:indigo;"
}

/* Стрелка пользователя */
.user-icon div {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 20px solid blue; /* стрелка всегда синяя */
  margin: auto;
  transform-origin: 50% 50%;
}
