body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}
#map {
  height: 100%;
}
.leaflet-marker-icon .traffic-light {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.custom-icon .circle {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 2px solid black;
  box-shadow: 0 0 4px rgba(0,0,0,0.5);
}
